* {
	margin: 0;
	padding: 0;
	font-family: helvetica,sans-serif;
}

html {
	text-align: center;
}

#upperScreen {
	background-image: linear-gradient(#0039e6, #6666ff);
	padding-bottom: 40px;
}

h1 {
	
	font-size: 35px;
	font-weight: bold;
	padding-top: 40px;
	margin-bottom: 20px;
	color: white;
	
}

#intro {
	font-size: 18px;
	margin: 0px auto 30px;
	width: 50%;
	max-width: 500px;
	font-weight: 600;
	color: white;
}

@media (max-width: 500px) { 
    #intro {
		padding-top: 30px;
		font-size: 16px;
		margin: 0px auto 30px;
		width: 90%;
		font-weight: 600;
		color: white;}
}

#intro p {
	margin-bottom: 10px;
	line-height: 1.5;
}

#inputForm {
	font-size: 17;
	color: black;
	margin-bottom: 15px;
	border-radius: 2px;
}

button {
	width: 150px;
	height: 40px;
	font-size: 20px;
	background-color: #001a66;
	color: white;
	text-align: center;
	border-color: white;
	border-style: normal;
	border-radius: 2px;
	margin-bottom: 40px;
}

#removeButton {
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 15px;
}

#entryButton:hover {
	color: #001a66;
	background-color: white;
}

#insertCount {
	font-weight: bold;
	font-size: 20px;
	color: white;
}

/*
#TwitterButton {
	margin-top: 10px;
}
*/

#tableScroll {
	background-color: white;
	height:200px;
	overflow:auto;
	margin: 0px auto 50px;
	width: 50%;
}

table {
	table-layout: fixed;
	overflow:hidden;
	word-wrap:break-word;
	width: 100%;
	color: #001a66;
}

table, th {
	padding: 5px;
	font-size: 16px;
}

#author {
	color: #001a66;
	margin-top: 20px;
	font-size: 12px;
	margin-bottom: 5px;
}

#author p {
	margin-bottom: 10px;
}

a:link {
  color: #001a66;
}

a:visited {
  color: #001a66;
}
