* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

html {
	background-color: #white;
	text-align: center;
}


h1 {
	
	font-weight: bold;
	padding-top: 70px;
	padding-bottom: 70px;
	color: white;
	background: linear-gradient(to bottom right, #2bb4d0, #002db3);

}

#intro {
	line-height: 1,9;
	padding-left: 5px;
	padding-right: 5px;	
	padding-top: 30px;
	font-size: 17px;
}

#insertCount {
	margin-top: 30px;
	font-weight: bold;
	font-size: 20px;
}

#inputForm {
	
	margin-top: 30px;
	font-size: 17px;
	color: #000000;

}

#author {
	font-size: 12px;
}

#TwitterButton {
	margin-top: 10px;
}

#entryButton {
	margin-top: 15px;
	width: 150px;
	height: 40px;
	font-size: 20px;
	color: white;
	background-color: #002db3;
	text-align: center;
	border: none;
	border-radius: 2px;
}

table {
	border-collapse: collapse;
	width: 50%;
	margin: 30px auto;
	background-color: white;
}

table, th, td {
	padding: 5px;
	font-size: 16px;
}
